{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="col-4 col-md-2">
    <form>
        <select class="form-select" name="category" onchange="this.form.submit();">
            {% if selected_category is None %}
            <option selected value="All">All</option>
            {% else %}
            <option value="All">All</option>
            {% endif %}
            {% for c in categories %}
            {% if selected_category == c.name %}
            <option selected value="{{ c.name }}">{{ c.name }}</option>
            {% else %}
            <option value="{{ c.name }}">{{ c.name }}</option>
            {% endif %}
            {% endfor %}
            {% if selected_category == "Inactive" %}
            <option selected value="Inactive">Inactive</option>
            {% else %}
            <option value="Inactive">Inactive</option>
            {% endif %}
        </select>
    </form>
</div>

<div class="row">
    {% for listing in listings %}
    <div class="col-6 col-lg-3 py-2">
        <a href="{% url 'listing' listing_id=listing.id %}" class="card card-responsive w-100 h-100">
            <img class="h-50 img-fluid" src="{{ listing.image_url }}" alt="{{ listing.title }}"
                style="object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title|truncatechars:24 }}</h5>
                <h6 class="card-title">USD ${{ listing.starting_price }}</h6>
                <p class="card-text">{{ listing.description|truncatechars:64 }}</p>
            </div>
        </a>
    </div>
    {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}