{% extends "auctions/layout.html" %}

{% block body %}

<div class="d-flex">
    <button class="btn btn-primary me-2" onclick="history.back();">Go Back</button>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {% if is_watchlisted == True %}
        <button type="submit" class="btn btn-danger" name="watchlist" value="remove">Remove from Watchlist</button>
        {% else %}
        <button type="submit" class="btn btn-success" name="watchlist" value="add">Add to Watchlist</button>
        {% endif %}
    </form>
    {% endif %}
</div>

<div class="row flex-column-reverse flex-md-row m-3">
    <div class="card col-12 col-md-6 p-3">
        <h2>{{ listing.title }}</h2>
        <h6>{{ listing.user_id }}</h6>
        <h4>USD ${{ listing.starting_price }}</h4>
        <p>{{ listing.description }}</p>
    </div>
    <div class="col-12 col-md-6">
        <img class="w-75 mx-auto mb-3 mb-md-0 d-block rounded-3" src="{{ listing.image_url }}"
            alt="{{ listing.title }}">
    </div>
</div>
<div class="row m-3">
    {% if listing.is_active == True %}
    <div class="card col-12 col-md-4 p-3">
        <h2>Bid</h2>
        <h5 class="fw-normal">Starting Bid: ${{ listing.starting_price }}</h5>
        <h4>Current Bid: ${{ highest_bid.price }}</h4>
        <form action="{% url 'add_bid' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="number" class="form-control" name="bid_price" id="bid_price" rows="4" style="resize: none;"
                    min="{{ highest_bid.price }}" placeholder="Enter a Bid: Minimum ${{ highest_bid.price }}">
                <button class="btn btn-warning" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    {% endif %}
    {% if listing.author.id == request.user.id and listing.is_active == True %}
    <div class="card col-12 col-md-4 p-3 ms-2">
        <h2>Close Auction</h2>
        <form action="{% url 'close_auction' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="winner_id" value="{{ highest_bid.author.id }}">
            <button type="submit" class="btn bg-warning">Close this Auction</button>
        </form>
        {% endif %}
    </div>
    {% if listing.is_active == False and listing.winner != None %}
    <div class="card col-12 col-md-4 m-3 p-3">
        <h2>Auction Closed!</h2>
        <h5 class="fw-normal">{{ listing.winner }} won with ${{ highest_bid.price }}</h5>
    </div>
    {% endif %}
</div>

<div class="row m-3">
    <div class="col-12 col-md-8 p-0 mt-3">
        <h2>Comments</h2>
        <form action="{% url 'create_comment' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <textarea class="form-control" name="comment" id="comment" rows="4" style="resize: none;"
                    placeholder="Add a comment"></textarea>
                <button class="btn btn-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-8 p-0">
        {% for c in comments %}
        <div class="card mt-3">
            <div class="card-header d-flex">
                <p class="m-0"><b>{{ c.author }}</b> {{ c.date_commented }}</p>
                {% if c.author.id == request.user.id %}
                <form class="ms-auto" action="{% url 'delete_comment' listing_id=listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ c.id }}">
                    <button type="submit" class="btn-close bg-danger rounded-5"></button>
                </form>
                {% endif %}
            </div>
            <div class="card-body">
                <p class="m-0">{{ c.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}